<div class="student-index">
  <% if notice %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>

  <% end %>

  <a href="/" style="color: black;"><h1 class="text-center">Guri Students</h1></a>

  <%= render 'students/horizontal-menus/months' %>
  <%= render 'students/horizontal-menus/days' %>

  <a href="#" class="btn btn-default pull-right all-students">Show All Students</a>
  <a href="#" class="btn btn-default pull-right absent-students">Show Absent Students Today</a>
  <a href="#" class="btn btn-default pull-right attended-students">Show Attended Students Today</a>

  <table class="table table-hover table-striped students-table tablesorter">
    <thead>
      <tr>
        <th class="text-center">Paid?</th>
        <th class="text-center">Name</th>
        <th class="text-center">Fee</th>
        <th class="text-center">Extra Fees</th>
        <th class="text-center">Hours Today</th>
        <th class="text-center">$ Today</th>
        <th class="text-center">Month Hours</th>
        <th class="text-center">$ Month</th>
        <th class="text-center">Hour</th>
        <th class="text-center" colspan="4"> Actions </th>
      </tr>
    </thead>
    <tfoot>
        <tr align="center" class="total-info" style="background-color: #36DC71">
          <td colspan="4"><h1>Total - <%= @students.count %> Students</h1></td>
          <td><strong class="total-today-hours-<%= @month %>-<%= @year %>"><%= @total_today_hours %></strong></td>
          <td><strong class="total-today-fee-<%= @month %>-<%= @year %>">$<%= @total_today_fee %></strong></td>
          <td><strong class="total-hours-<%= @month %>-<%= @year %>"><%= @total_hours %></strong></td>
          <td><strong class="total-fee-<%= @month %>-<%= @year %>">$<%= @total_fee %></strong></td>
          <td colspan="5"></td>
        </tr>
    </tfoot>
    <tbody>
      <% @students.each do |student| %>
        <tr align="center" class="student-<%= student.id %>">
        <td>
          <div class="btn-group">
                <% paid = @paidfees[student.id].nil? ? 'btn-default' : 'btn-success active' %>
                <% unpaid = @paidfees[student.id].nil? ? 'btn-danger active' : 'btn-default' %>
                <%= link_to '<i class="glyphicon glyphicon-ok"></i>'.html_safe, paid_money_students_path(:student_id => student.id, :month => @month, :year => @year), remote: true, class: "btn paid-#{student.id}-#{@month}-#{@year} #{paid}" %>
                <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, unpaid_money_students_path(:student_id => student.id, :month => @month, :year => @year), remote: true, class: "btn unpaid-#{student.id}-#{@month}-#{@year} #{unpaid}" %>
          </div>
        </td>
          <td><h3><%= student.name %></h3></td>
          <td>$<%= student.fee %></td>
          <td><%= link_to "$#{@student_extra[student.id]}", "#new_extra_fee_modal-#{student.id}-#{@month}-#{@year}", 'data-toggle' => 'modal' %></td>

          <td class="today-hours today-hours-<%= student.id %>-<%= @day %>-<%= @month %>-<%= @year %>"><%= @today_hours[student.id] %></td>
          <td class='today-fee-<%= student.id %>-<%= @day %>-<%= @month %>-<%= @year %>'>$<%= student.fee * @today_hours[student.id] %></td>
          <td class='total-hours-<%= student.id %>-<%= @day %>-<%= @month %>-<%= @year %>'><%= @hours[student.id] %></td>
          <td class='total-fee-<%= student.id %>-<%= @day %>-<%= @month %>-<%= @year %>'>$<%= student.fee * @hours[student.id] + @student_extra[student.id] %></td>

          <td><%= link_to '<i class="glyphicon glyphicon-plus"></i>'.html_safe, add_hour_students_path(:student_id => student.id, :count => 1, :day => @day, :month => @month, :year => @year), remote: true,  :class => 'btn btn-success'%>  <%= link_to '<i class="glyphicon glyphicon-minus"></i>'.html_safe, delete_hour_students_path(:student_id => student.id, :day => @day, :month => @month, :year => @year), remote: true,  :class => 'btn btn-danger'%></td>


          <td><%= link_to 'Show', student, :class => 'btn btn-primary'%></td>
          <td><%= link_to 'Edit', edit_student_path(student), :class => 'btn btn-warning' %></td>
          <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% @students.each do |s| %>
     <%= render partial: 'extrafees/extrafee_modal', locals: {student: s, month: @month, year: @year} %>
  <% end %>

  <br>

  <%= link_to 'New Student', new_student_path, :class => 'btn btn-success' %>
  <%= link_to 'Show Summary', show_summary_students_path(:month => @month, :year => @year), :class => 'btn btn-default' %>
</div>
