<div class="modal fade" id="new_extra_fee_modal-<%= student.id %>-<%= month %>-<%= year %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Extra Fees for <%= student.name %></h4>
      </div>
      <div class="modal-body">
        <%= render 'extrafees/index', modal: true, student: student, month: month, year: year %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>